<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Blog</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <p id="recentBlogText">Recent Blog Posts</p>
        <div class="recentContainer">
            <div class="item" id="item1">
                    <img src="<%= locals.article[0].img %>" alt="">
                <p id="nameDetails"><%= locals.article[0].writer%>.<%= locals.article[0].date %></p>
                <h3 id="item1h3"><%= locals.article[0].heading %></h3>
                <p><%= locals.article[0].desc %></p>
                <div class="tags">
                    <button class="tagBtnDesign">
                        <%= locals.article[0].tagOne%>
                    </button>
                    <button class="tagBtnResearch"><%= locals.article[0].tagTwo%></button>
                    <button class="tagBtnPpt"><%= locals.article[0].tagThree%></button>
                </div>
            </div>
            <div class="item" id="item2">
                <div class="itemimg">
                    <img src="images/PIC_history1.webp" alt="">
                </div>
                <div class="itemOthersCont">
                    <p id="nameDetails">Sudip Paul.1 Jan 2023</p>
                    <h3>Ux review presentations</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas vel voluptatibus ex delenit</p>
                    <div class="tags">
                        <button class="tagBtnDesign">Design</button>
                        <button class="tagBtnResearch">Research</button>
                        <button class="tagBtnPpt">Presentation</button>
                    </div>
                </div>
            </div>
            <div class="item" id="item3">
                <div class="itemimg">
                    <img src="images/PIC_history1.webp" alt="">
                </div>
                <div class="itemOthersCont">
                    <p id="nameDetails">Sudip Paul.1 Jan 2023</p>
                    <h3>Ux review presentations</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas vel voluptatibus ex delenit</p>
                    <div class="tags">
                        <button class="tagBtnDesign">Design</button>
                        <button class="tagBtnResearch">Research</button>
                        <button class="tagBtnPpt">Presentation</button>
                    </div>
                </div>
            </div>
            <div class="item" id="item4">
                <div class="itemimg">
                    <img src="images/PIC_history1.webp" alt="">
                </div>
                <div class="itemOthersCont">
                    <p id="nameDetails">Sudip Paul.1 Jan 2023</p>
                    <h3>Ux review presentations</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas vel voluptatibus ex delenit</p>
                    <div class="tags">
                        <button class="tagBtnDesign">Design</button>
                        <button class="tagBtnResearch">Research</button>
                        <button class="tagBtnPpt">Presentation</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>